<launch>
  <include file="$(find roblab)/launch/roswww.launch">
  <arg name="name" value="www_angle"/>
  <arg name="port" value="8085"/>
  <arg name="certfile" value="/home/roblab/catkin_ws/src/roswww/src/roswww/server.crt"/>
  <arg name="keyfile" value="/home/roblab/catkin_ws/src/roswww/src/roswww/server.key"/>
  </include>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
  <arg name="port" value="9090"/>
  <arg name="ssl" value="true"/>
  <arg name="certfile" value="/home/roblab/catkin_ws/src/roswww/src/roswww/server.crt"/>
  <arg name="keyfile" value="/home/roblab/catkin_ws/src/roswww/src/roswww/server.key"/>
  </include>
  <include file="$(find roblab)/launch/additional.launch" />
</launch>